---
---

<footer>
  <p>Copyright © 2023. Todos los derechos reservados.</p>
</footer>

<style>
  footer {
    background-color: black;
    margin-top: -80px;
    height: 396px;
    z-index: -1;
  }
</style>
