---
import linkedin from "../assets/mdi_linkedin.svg";
import facebook from "../assets/ic_baseline-facebook.svg";
import instagram from "../assets/mdi_instagram.svg";
import web from "../assets/mdi_web.svg";
---

<footer>
  <div class="social">
    <div class="linkedin">
      <a href="https://www.linkedin.com/company/wkbgaming/"
        ><img src={linkedin} alt="linkedin" /></a
      >
    </div>
    <div class="facebook">
      <a href="https://www.facebook.com/wkb.agencia"
        ><img src={facebook} alt="facebook" /></a
      >
    </div>
    <div class="instagram">
      <a href="https://www.instagram.com/wkbgaming/"
        ><img src={instagram} alt="instagram" /></a
      >
    </div>
    <div class="web">
      <a href="https://wkbagencia.com.ar/"><img src={web} alt="web" /></a>
    </div>
  </div>
  <div class="copyright">
    <h3>©2023 WKB GAMING. Todos los derechos reservados.</h3>
  </div>
</footer>

<style>
  footer {
    background-color: black;
    height: 396px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
  }

  /* --------Social icons-------- */
  .social {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    margin-top: 150px;
    width: 300px;
    place-items: center;
  }

  .linkedin {
    width: 33.33px;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
  }
  .facebook {
    width: 33.33px;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
  }
  .instagram {
    width: 33.33px;
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
  }
  .web {
    width: 33.33px;
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    justify-content: center;
  }
  /* --------Copyringht-------- */
  .copyright {
    grid-area: 2 / 1 / 3 / 2;
  }
  .copyright h3 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -60px;
  }

  @media only screen and (max-width: 412px) {
    footer {
      height: 200px;
    }

    /* --------Social icons-------- */
    .social {
      margin-top: 50px;
      width: 300px;
    }

    
    /* --------Copyringht-------- */
    
    .copyright h3 {
      font-size: 12px;
      text-align: center;
      margin-top: 0px;
    }
  }

  /* Samsung Galaxy A51/A71 412x914 */
</style>
