---
import logo from "../assets/LogotipoCOLOR-V2 2.png";
import google from "../assets/google-play-badge.png";
---

<div class="container">
  <div class="game" id="game">
    <!-- <div id="asteroid-field">
        <img
          src="./assets/Parallax Version BG/ITEM BASURA 03.png"
          class="asteroid"
        />
        <img
          src="./assets/Parallax Version BG/ITEM BASURA 06.png"
          class="asteroid"
        />
        <img
          src="./assets/Parallax Version BG/ITEM BASURA 01.png"
          class="asteroid"
        />
      </div> -->
    <div class="portada">
      <div class="logoColor">
        <img src={logo} alt="LogoColor" class="logoColorpx" />
      </div>
      <div class="text">
        <p>La importancia de la limpieza del medioambiente</p>
        <div class="line"></div>
      </div>
      <div class="download">
        <a
          href="https://play.google.com/store/apps/details?id=com.ea.game.pvzfree_row&hl=es_419"
          ><img src={google} alt="download" /></a
        >
      </div>
    </div>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
  }
  /* --------------Portada-------------- */
  .game {
    background-image: url(../assets/BG.jpg);
    background-size: cover;
    background-position: center;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .portada {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 200px;
  }

  .logoColor {
    grid-area: 1 / 1 / 2 / 2;
  }
  .logoColor img {
    margin-top: -100px;
    display: flex;
    height: auto;
  }
  .text {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text p {
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    color: white;
  }

  .line {
    position: absolute;
    width: 100px;
    height: 0px;
    border: 2px solid #ffffff;
    margin-top: 50px;
  }
  .download {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .download img {
    width: 153px;
    margin-top: -230px;
  }

  /* Media query para dispositivos móviles */
 /*  @media screen and (max-width: 412px) {
    .game {
      background-image: url(../assets/Load Screen.svg);
      height: 900px;
      width: auto;
      display: flex;
    }
    .portada {
      margin-top: 580px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .logoColorpx {
      width: 200px;
      margin-top: 0px;
    }

    .text p {
      font-size: 16px;
    }

    .download img {
      width: 153px;
      margin-top: 30px;
    }
  } */

  
</style>
