---
import logo from '../assets/LogotipoCOLOR-V2 1.png'
---

<header>
  <nav>
    <div class="navbar">
      <div>
        <img src={logo} alt="Logo" class="logo" />
      </div>
      <div class="options">
        <div class="option"><a href="#game">El Juego</a></div>
        <div class="option"><a href="#why">El Por qué</a></div>
        <div class="option"><a href="#support">Nos Apoyan</a></div>
      </div>
    </div>
  </nav>
</header>

<style>
    header {
  width: 100vw;
  position: fixed;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 15px 10px -22px #111;
}
/* .navbar {
  background-color: transparent;
  border: none;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  padding:  350px;
  margin-top: 60px;
}
 */

.navbar {
  background-color: transparent;
  border: none;
  position: fixed;
  height: 60px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  margin-top: 60px;
  padding: 0 200px;
}

.logo {
  margin-left: 15px;
  width: 136px;
  height: auto;
}

.options {
  padding: 10px;
  display: flex;
}
.option {
  margin: 0 15px;
  border-radius: 20px;
  box-sizing: border-box;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 42px;
}

.option a {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
</style>