---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Game from "../components/Game.astro";
import InfoGame from "../components/InfoGame.astro";
import Footer from "../components/Footer.astro";
import frame2 from "../assets/Frame 2.png";
---

<Layout title="Clean Madness">
  <div class="container">
    <Navbar />
    <div class="game"><Game /></div>
    <div class="frame"><img src={frame2} alt="frame2" /></div>
    <div class="info"><InfoGame /></div>
    <div class="frame"><img src={frame2} alt="frame2" /></div>
    <div class="footer"><Footer /></div>
  </div>
</Layout>

<style>
  body,
  p {
    margin: 0;
    padding: 0;
    border: 0;
  }

  body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
  }
  .container {
    position: relative;
  }
  .game {
    z-index: 1;
  }
  .info {
    z-index: 2;
    margin-top: -120px;
  }
  .frame {
    z-index: 4;
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame img {
    object-fit: contain;
    max-width: 1906px;
    height: auto;
  }
  .footer {
    margin-top: -80px;
  }


    /* Media query para dispositivos móviles */
    @media screen and (max-width: 390px) {
    .frame img {
      min-width: 100px;
      margin-top:60px;
    }

    .info{
      margin-top: -15px;
    }
    .footer{
      margin-top:-15px ;
    }
    body{
      background-color: blue;
    }
    }
</style>
